# Pandas Dataframes - 2

In [14]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [15]:
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  0.849507 -0.487874
   2  0.244421 -0.589356
   3 -0.859853 -0.497356
G2 1 -2.226671 -0.076688
   2 -0.337469 -0.064606
   3 -0.521754  0.032493

In [21]:
df.loc['G1'].loc[1]

A    0.849507
B   -0.487874
Name: 1, dtype: float64

In [23]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1    0.849507 -0.487874
       2    0.244421 -0.589356
       3   -0.859853 -0.497356
G2     1   -2.226671 -0.076688
       2   -0.337469 -0.064606
       3   -0.521754  0.032493

In [24]:
df.loc['G2'].loc[2]['B']

-0.06460640114060079

In [25]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.849507 -0.487874
G2     -2.226671 -0.076688